<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Panaderia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Panaderia.Properties.Settings>
            <setting name="Sesion" serializeAs="String">
                <value>0x0</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>0x0</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>0x0</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>0x0</value>
            </setting>
            <setting name="imagen" serializeAs="String">
                <value />
            </setting>
            <setting name="img2" serializeAs="String">
                <value />
            </setting>
            <setting name="sucursal" serializeAs="String">
                <value>3</value>
            </setting>
        </Panaderia.Properties.Settings>
    </userSettings>
</configuration>